 {% extends 'base.html' %}
{% load static %}
 {% block title %}
 <title>Edit Task TaskMate </title>
 {% endblock title %}
 {% block content %}  
  <div class="container">
    <br>
    {% comment %} {% task_obj.manage==request.user %}  {% endcomment %}
   {% if task_obj.manage == request.user %} 
    <form method="post" class="row">
      {% csrf_token %}  
     <label class="col-lg-2"></label>
      <input type="text" class="form-control" name="task" placeholder="{{ task_obj.task }}" value="{{ task_obj.task }}" id="exampleInputEmail1" aria-describedby="emailHelp">
      <input type="hidden" name="done" value="{{ task_obj.done }}" >
      <div id="emailHelp" class="form-text">  </div> 
      </div>
      <button type="submit" class="btn btn-primary">Update Task</button>
      </form>
   {% else %}
    <p>Access Restricted ,You are not allowed</p>
   {% endif %}
  </div>
  {% endblock %}